@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

$light-gray: rgb(231, 231, 231);
$base-black: black;

:root {
  font-family: "Poppins", sans-serif;
  * {
    margin: 0;
    padding: 0;
    color: white;
  }
  html,
  body {
    display: flex;
    height: 100%;
  }
}

#sidebar {
  width: 40vh;
  background-color: $base-black;
  display: flex;
  flex-direction: column;
  > div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 17vh;
    > img {
      margin-right: 10px;
      height: 30px;
      width: 30px;
      filter: invert(100%);
    }
    > p {
      font-size: 20px;
      font-weight: bold;
    }
  }
  > div:not(:first-child):not(:last-child) {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    margin-bottom: 11.5vh;
    > div {
      display: flex;
      align-items: center;
      height: 8vh;
      width: 100%;
    }
    .home {
      > img {
        margin-right: 7px;
        height: 25px;
        width: 25px;
        filter: invert(100%);
      }
      > p {
        font-size: 16px;
      }
    }
    .profile {
      padding-left: 2px;
      > img {
        margin-right: 10px;
        height: 20px;
        width: 20px;
        filter: invert(100%);
      }
      > p {
        font-size: 16px;
      }
    }
    .messages {
      padding-left: 2px;
      > img {
        margin-right: 10px;
        height: 20px;
        width: 20px;
        filter: invert(100%);
      }
      > p {
        font-size: 16px;
      }
    }
    .history {
      padding-left: 2px;
      > img {
        margin-right: 10px;
        height: 20px;
        width: 20px;
        filter: invert(100%);
      }
      > p {
        font-size: 16px;
      }
    }
    .tasks {
      > img {
        margin-right: 6px;
        height: 25px;
        width: 25px;
        filter: invert(100%);
      }
      > p {
        font-size: 16px;
      }
    }
    .communities {
      > img {
        margin-right: 10px;
        height: 20px;
        width: 20px;
        filter: invert(100%);
      }
      > p {
        font-size: 16px;
      }
    }
  }
  > div:last-child {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    > div {
      display: flex;
      align-items: center;
      height: 8vh;
      width: 100%;
    }
    .settings {
      display: flex;
      > img {
        margin-right: 10px;
        height: 25px;
        width: 25px;
        filter: invert(100%);
      }
      > p {
        font-size: 16px;
      }
    }
    .support {
      display: flex;
      > img {
        margin-right: 10px;
        height: 25px;
        width: 25px;
        filter: invert(100%);
      }
      > p {
        font-size: 16px;
      }
    }
    .privacy {
      display: flex;
      > img {
        margin-right: 10px;
        height: 25px;
        width: 25px;
        filter: invert(100%);
      }
      > p {
        font-size: 16px;
      }
    }
  }
}
#main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  #nav {
    height: 20vh;
    #navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50%;
      width: 100%;
      > div:first-child {
        display: flex;
        align-items: center;
        flex: 0.5;
        height: 100%;
        margin-left: 50px;
        > img {
          width: 15px;
          height: 15px;
          margin-right: 15px;
        }
        > div {
          height: 25px;
          width: 500px;
          background-color: $light-gray;
          border-radius: 30px;
        }
      }
      > div:last-child {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 20%;
        margin-right: 30px;
        > div:first-child {
          > img:first-child {
            height: 45px;
            width: 45px;
          }
          > img:last-child {
            height: 40px;
            width: 40px;
            border: none;
            border-radius: 100%;
          }
        }
        > div:last-child > p {
          color: $base-black;
          font-size: 14px;
          font-weight: bold;
          margin-right: 30px;
        }
      }
    }
    #hero {
      height: 50%;
      display: flex;
      > div:first-child {
        margin-left: 60px;
        margin-right: 20px;
        align-items: center;
        > img {
          height: 45px;
          width: 45px;
          border: none;
          border-radius: 100%;
        }
      }
      > div:not(:first-child):not(:last-child) {
        display: flex;
        flex-direction: column;
        flex: 1;
        > p {
          color: $base-black;
        }
        > p:last-child {
          font-weight: bold;
        }
      }
      > div:last-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 15%;
        margin-right: 100px;
        > button {
          margin-right: 25px;
          padding: 10px;
          border: none;
          border-radius: 10%;
          color: $base-black;
          font-weight: bold;
        }
      }
    }
  }
  #content {
    display: flex;
    height: 100%;
    background-color: $light-gray;
    > div:first-child {
      height: 100%;
      width: 70%;
      > div:first-child {
        > p {
          color: $base-black;
          margin-left: 20px;
          padding-top: 20px;
          padding-bottom: 10px;
          font-weight: bold;
        }
      }
      > div:last-child {
        height: 85%;
        width: 95%;
        display: grid;
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
        place-items: center;
        padding-left: 25px;
        padding-right: 25px;
        row-gap: 30px;
        column-gap: 30px;
        margin-bottom: 100px;
        .card {
          height: 100%;
          width: 100%;
          background-color: white;
          border-left: 10px solid $base-black;
          border-radius: 10px;
          > div:first-child {
            padding-left: 20px;
            padding-top: 20px;
            > p:first-child {
              color: $base-black;
              font-weight: bold;
            }
            > p:last-child {
              font-size: 0.9rem;
              color: $base-black;
            }
          }
          > div:last-child {
            display: flex;
            justify-content: end;
            margin-right: 25px;
            margin-top: 25px;
            margin-bottom: 20px;
            > img {
              margin-left: 20px;
              height: 25px;
              width: 25px;
            }
          }
        }
      }
    }
    > div:last-child {
      height: 100%;
      width: 40%;
      padding: 20px;
      p {
        color: $base-black;
      }
      > div:first-child {
        height: 7%;
        > p {
          font-weight: bold;
          font-size: 16px;
          padding-left: 5px;
          padding-bottom: 10px;
        }
      }
      > div:nth-child(2) {
        background-color: white;
        padding: 20px;
        border: none;
        border-radius: 10px;
        > div:first-child > p {
          font-weight: bold;
        }
        > div:nth-child(2) {
          font-size: 14px;
          padding-bottom: 25px;
          border-bottom: 2.5px solid rgb(190, 190, 190);
        }
        > div:nth-child(3) > p {
          padding-top: 15px;
          font-weight: bold;
        }
        > div:nth-child(4) {
          font-size: 14px;
          padding-bottom: 25px;
          border-bottom: 2.5px solid rgb(190, 190, 190);
        }
        > div:nth-child(5) > p {
          padding-top: 15px;
          font-weight: bold;
        }
        > div:nth-child(6) {
          font-size: 14px;
        }
      }

      > div:last-child {
        height: 50%;
        > div:first-child {
          height: 7%;
          > p {
            font-weight: bold;
            font-size: 16px;
            padding-left: 5px;
            padding-bottom: 15px;
            padding-top: 15px;
          }
        }
        > div:last-child {
          background-color: white;
          border-radius: 10px;
          .bar {
            .barNumber {
              font-weight: bold;
              margin-right: 10px;
            }
            display: flex;
            align-items: center;
            padding-top: 10px;
            padding-left: 10px;
            padding-bottom: 10px;
            > .barImg {
              > img {
                height: 40px;
                width: 40px;
                border-radius: 50px;
              }
            }
            > .barContent {
              display: flex;
              flex-direction: column;
              margin-left: 10px;
              > div:first-child > p {
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}
